@media (max-width:768px){
    header h1{
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
    header p{
        text-align: center;
    }
    .about{
        text-align: center;
    }
    .about h1{
        font-size: 20px;
    }
    .about h2{
        font-size: 20px;
    }
    .about p{
        font-size: 14px;
    }
    .about a{
        padding: 0%;
        width: 30%;
        text-align: center !important;
        font-size: 12px;
    }

  .call-area{
    text-align: center;
  }
  .contact-us h2{
    text-align: center !important;
  }
}